
.header-elements{
  justify-content: space-between;
  width:100%;
  height: 5%;
}

.header-elements > h1 {
  display:inline-block;
  color:#2e4c38;
}

.header-elements > button{
  float:right;
  vertical-align: middle;
}
