/*laptop/desktop */
@media only screen  and (min-width : 1224px) {

.home{
  text-align: center;
  width: 100%;
  /* padding-left: 20%; */
}

.app{
  max-width: 750px;
}
.tea-time-image > img{
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  /* top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;   */
  position: static;
  object-position: 50% 50%;
  margin: auto;
  padding-bottom: 300px;
  z-index: -10;
}

h2{
  color: #2e4c38;

}
.register-container{
  padding-top: 20px; 
}
.register-container > a {
  text-decoration:none;
  color:#2e4c38;

}
.register-container > a:hover {
  color:#a2653e;
  text-decoration:underline;
}

}

/*ipads/tablets*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .home{
    text-align: center;
    width: 100%;
    /* padding-left: 20%; */
  }
  
  .app{
    max-width: 750px;
  }
  .tea-time-image > img{
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    z-index: -10;
  }
  
  h2{
    color: #2e4c38;
  
  }
  .register-container{
    padding-top: 20px; 
  }
  .register-container > a {
    text-decoration:none;
    color:#2e4c38;
  
  }
  .register-container > a:hover {
    color:#a2653e;
    text-decoration:underline;
  }
  
}

@media only screen and (max-width : 375px) {
  .home{
    text-align: center;
    width: 100%;
    /* padding-left: 20%; */
  }
  
  .app{
    max-width: 320px;
  }
  .tea-time-image > img{
    height:auto;
    max-width: 320px; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    z-index: -10;
  }
  
  h2{
    color: #2e4c38;
  
  }
  .register-container{
    padding-top: 20px; 
  }
  .register-container > a {
    text-decoration:none;
    color:#2e4c38;
  
  }
  .register-container > a:hover {
    color:#a2653e;
    text-decoration:underline;
  }
  

}
