body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;

}
body * {
  box-sizing: border-box;
}


ul {
  list-style: none;
}

.tea-list-elements {
  border: 1px solid black;
  width: 20%;
  height: 10%;
  text-align: center;
}